<% layout("layouts/boilerplates") %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-warning">
                <h1 class="alert-heading">
                    <%= err.message %>
                </h1>
                <% if (process.env.NODE_ENV !=="production" ) { %>
                    <p>
                        <%= err.stack %>
                    </p>
                    <% } %>
            </div>
        </div>
    </div>