<% layout("layouts/boilerplates") %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1466973252363-34d67b6bc28d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fGFsb25lJTIwYm95fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="" class="card-img-top ">
                <div class="card-body">
                    <h1 class="text-center">Login</h1>
                    <form action="/login" method="POST" class="form-validation" novalidate>
                        <div class=" form-floating mb-2">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Username"
                                required>
                            <label for="username" class="form-label">Username</label>
                            <div class="valid-feedback">
                                looks good !
                            </div>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Password" required>
                            <label for="password" class="form-label">Password</label>
                            <div class="valid-feedback">
                                looks good !
                            </div>
                        </div>
                        <button class="btn btn-success">Log in</button>
                    </form>
                </div>
            </div>

        </div>
    </div>