<% layout("layouts/boilerplates") %>
    <div class="row">
        <h1 class=" text-center fw-bold mb-3"> Add New Campground</h1>
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <form action="/campground" method="POST" novalidate class="form-validation"
                        enctype="multipart/form-data">
                        <div class="mb-2">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" name="campground[title]" id="title" required>
                            <div class="valid-feedback">
                                Looks good !
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="loc" class="form-label ">Location</label>
                            <input type="text" class="form-control" name="campground[location]" id="title" required>
                            <div class="valid-feedback">
                                Looks good !
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="price">Price</label>
                            <div class="input-group mt-1">
                                <span class="input-group-text"> &#8377</span>
                                <input type="text" name="campground[price]" class="form-control" placeholder="0.00"
                                    required>
                                <div class="valid-feedback">
                                    Looks good !
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="img" class="form-label ">Description</label>
                            <textarea type="text" class="form-control" name="campground[description]" id="img"
                                required></textarea>
                            <div class="valid-feedback">
                                Looks good !
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="formFileMultiple" class="form-label">Add Image(s)</label>
                            <input type="file" class="form-control" id="formFileMultiple" name="image" multiple
                                required>
                            <div class="invalid-feedback">
                                This campground would look much better with a picture.
                            </div>
                        </div>
                        <div class="mt-2 offset-4">
                            <button class="btn btn-success">submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>